@font-face {
    font-family: "bme-icons";
    src: url("./bme-icons.eot?6ce6f9f2446a81b8252782a54f751e06#iefix") format("embedded-opentype"),
url("./bme-icons.woff2?6ce6f9f2446a81b8252782a54f751e06") format("woff2"),
url("./bme-icons.woff?6ce6f9f2446a81b8252782a54f751e06") format("woff");
}

.bme-icon:before {
    font-family: bme-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bme-icon.icon-3-list:before {
    content: "\f101";
}
.bme-icon.icon-add-folder:before {
    content: "\f102";
}
.bme-icon.icon-agent:before {
    content: "\f103";
}
.bme-icon.icon-align-2-bottom:before {
    content: "\f104";
}
.bme-icon.icon-align-2-center:before {
    content: "\f105";
}
.bme-icon.icon-align-2-left:before {
    content: "\f106";
}
.bme-icon.icon-align-2-middle:before {
    content: "\f107";
}
.bme-icon.icon-align-2-right:before {
    content: "\f108";
}
.bme-icon.icon-align-2-top:before {
    content: "\f109";
}
.bme-icon.icon-align-center:before {
    content: "\f10a";
}
.bme-icon.icon-align-left:before {
    content: "\f10b";
}
.bme-icon.icon-align-right:before {
    content: "\f10c";
}
.bme-icon.icon-analysis:before {
    content: "\f10d";
}
.bme-icon.icon-anchor:before {
    content: "\f10e";
}
.bme-icon.icon-app-dashboard:before {
    content: "\f10f";
}
.bme-icon.icon-app-pai:before {
    content: "\f110";
}
.bme-icon.icon-app-worksheet:before {
    content: "\f111";
}
.bme-icon.icon-area-chart:before {
    content: "\f112";
}
.bme-icon.icon-arrow-bottom-dot:before {
    content: "\f113";
}
.bme-icon.icon-arrow-bottom-l:before {
    content: "\f114";
}
.bme-icon.icon-arrow-down-l:before {
    content: "\f115";
}
.bme-icon.icon-arrow-down:before {
    content: "\f116";
}
.bme-icon.icon-arrow-left-d-l:before {
    content: "\f117";
}
.bme-icon.icon-arrow-left-l:before {
    content: "\f118";
}
.bme-icon.icon-arrow-left:before {
    content: "\f119";
}
.bme-icon.icon-arrow-minus:before {
    content: "\f11a";
}
.bme-icon.icon-arrow-reduce:before {
    content: "\f11b";
}
.bme-icon.icon-arrow-right-d-l:before {
    content: "\f11c";
}
.bme-icon.icon-arrow-right-l:before {
    content: "\f11d";
}
.bme-icon.icon-arrow-right-o:before {
    content: "\f11e";
}
.bme-icon.icon-arrow-right:before {
    content: "\f11f";
}
.bme-icon.icon-arrow-rise:before {
    content: "\f120";
}
.bme-icon.icon-arrow-top-dot:before {
    content: "\f121";
}
.bme-icon.icon-arrow-top-l:before {
    content: "\f122";
}
.bme-icon.icon-arrow-top:before {
    content: "\f123";
}
.bme-icon.icon-arrow-up-l:before {
    content: "\f124";
}
.bme-icon.icon-arrow-up:before {
    content: "\f125";
}
.bme-icon.icon-asterisk:before {
    content: "\f126";
}
.bme-icon.icon-attachment:before {
    content: "\f127";
}
.bme-icon.icon-auto-align-24:before {
    content: "\f128";
}
.bme-icon.icon-auto-merge-cell:before {
    content: "\f129";
}
.bme-icon.icon-backward-cycly-o:before {
    content: "\f12a";
}
.bme-icon.icon-bring-to-bottom:before {
    content: "\f12b";
}
.bme-icon.icon-bring-to-downer:before {
    content: "\f12c";
}
.bme-icon.icon-bring-to-top:before {
    content: "\f12d";
}
.bme-icon.icon-bring-to-upper:before {
    content: "\f12e";
}
.bme-icon.icon-bucket-a:before {
    content: "\f12f";
}
.bme-icon.icon-bucket:before {
    content: "\f130";
}
.bme-icon.icon-c:before {
    content: "\f131";
}
.bme-icon.icon-calendar:before {
    content: "\f132";
}
.bme-icon.icon-center-justified:before {
    content: "\f133";
}
.bme-icon.icon-chart-bar:before {
    content: "\f134";
}
.bme-icon.icon-chart-from-to:before {
    content: "\f135";
}
.bme-icon.icon-chart-funnel-plot:before {
    content: "\f136";
}
.bme-icon.icon-chart-funnel:before {
    content: "\f137";
}
.bme-icon.icon-chart-index:before {
    content: "\f138";
}
.bme-icon.icon-chart-new:before {
    content: "\f139";
}
.bme-icon.icon-chart-scatter:before {
    content: "\f13a";
}
.bme-icon.icon-chart-word-cloud:before {
    content: "\f13b";
}
.bme-icon.icon-chart:before {
    content: "\f13c";
}
.bme-icon.icon-check-triangle:before {
    content: "\f13d";
}
.bme-icon.icon-clear:before {
    content: "\f13e";
}
.bme-icon.icon-click:before {
    content: "\f13f";
}
.bme-icon.icon-close-c:before {
    content: "\f140";
}
.bme-icon.icon-close-l:before {
    content: "\f141";
}
.bme-icon.icon-close-o:before {
    content: "\f142";
}
.bme-icon.icon-closedhand-24:before {
    content: "\f143";
}
.bme-icon.icon-collapse:before {
    content: "\f144";
}
.bme-icon.icon-color:before {
    content: "\f145";
}
.bme-icon.icon-comment-full-l:before {
    content: "\f146";
}
.bme-icon.icon-comment-l:before {
    content: "\f147";
}
.bme-icon.icon-component-24:before {
    content: "\f148";
}
.bme-icon.icon-component:before {
    content: "\f149";
}
.bme-icon.icon-concentric-pie-chart:before {
    content: "\f14a";
}
.bme-icon.icon-console-24:before {
    content: "\f14b";
}
.bme-icon.icon-copy-l:before {
    content: "\f14c";
}
.bme-icon.icon-copy-node:before {
    content: "\f14d";
}
.bme-icon.icon-cry:before {
    content: "\f14e";
}
.bme-icon.icon-custom-text:before {
    content: "\f14f";
}
.bme-icon.icon-cut:before {
    content: "\f150";
}
.bme-icon.icon-cycle-24:before {
    content: "\f151";
}
.bme-icon.icon-dashboard-24:before {
    content: "\f152";
}
.bme-icon.icon-data-agent-legend-dimension:before {
    content: "\f153";
}
.bme-icon.icon-data-agent-legend-measure:before {
    content: "\f154";
}
.bme-icon.icon-data-source-24:before {
    content: "\f155";
}
.bme-icon.icon-data:before {
    content: "\f156";
}
.bme-icon.icon-default-24:before {
    content: "\f157";
}
.bme-icon.icon-default-justified:before {
    content: "\f158";
}
.bme-icon.icon-delete-column:before {
    content: "\f159";
}
.bme-icon.icon-delete-row:before {
    content: "\f15a";
}
.bme-icon.icon-delete:before {
    content: "\f15b";
}
.bme-icon.icon-desktop-24:before {
    content: "\f15c";
}
.bme-icon.icon-desktop:before {
    content: "\f15d";
}
.bme-icon.icon-dials:before {
    content: "\f15e";
}
.bme-icon.icon-diamond-24:before {
    content: "\f15f";
}
.bme-icon.icon-diamond-ok-l:before {
    content: "\f160";
}
.bme-icon.icon-diamond:before {
    content: "\f161";
}
.bme-icon.icon-dimensions:before {
    content: "\f162";
}
.bme-icon.icon-direction-horizontal:before {
    content: "\f163";
}
.bme-icon.icon-direction-vertical:before {
    content: "\f164";
}
.bme-icon.icon-dislike-24:before {
    content: "\f165";
}
.bme-icon.icon-dislike-fill:before {
    content: "\f166";
}
.bme-icon.icon-dislike-l-24:before {
    content: "\f167";
}
.bme-icon.icon-dislike:before {
    content: "\f168";
}
.bme-icon.icon-doc-csv:before {
    content: "\f169";
}
.bme-icon.icon-doc-pdf:before {
    content: "\f16a";
}
.bme-icon.icon-doc-txt:before {
    content: "\f16b";
}
.bme-icon.icon-doc-xls:before {
    content: "\f16c";
}
.bme-icon.icon-document-full:before {
    content: "\f16d";
}
.bme-icon.icon-document:before {
    content: "\f16e";
}
.bme-icon.icon-dot:before {
    content: "\f16f";
}
.bme-icon.icon-download:before {
    content: "\f170";
}
.bme-icon.icon-drag:before {
    content: "\f171";
}
.bme-icon.icon-edit:before {
    content: "\f172";
}
.bme-icon.icon-empty-box:before {
    content: "\f173";
}
.bme-icon.icon-enterprise:before {
    content: "\f174";
}
.bme-icon.icon-exchange-xy:before {
    content: "\f175";
}
.bme-icon.icon-exit-fullscreen:before {
    content: "\f176";
}
.bme-icon.icon-expand:before {
    content: "\f177";
}
.bme-icon.icon-export-excel:before {
    content: "\f178";
}
.bme-icon.icon-export:before {
    content: "\f179";
}
.bme-icon.icon-file:before {
    content: "\f17a";
}
.bme-icon.icon-filter:before {
    content: "\f17b";
}
.bme-icon.icon-fire:before {
    content: "\f17c";
}
.bme-icon.icon-fitscreen-24:before {
    content: "\f17d";
}
.bme-icon.icon-fliter:before {
    content: "\f17e";
}
.bme-icon.icon-folder-open:before {
    content: "\f17f";
}
.bme-icon.icon-folder:before {
    content: "\f180";
}
.bme-icon.icon-font-bold:before {
    content: "\f181";
}
.bme-icon.icon-font-color-merge-a:before {
    content: "\f182";
}
.bme-icon.icon-font-color-merge:before {
    content: "\f183";
}
.bme-icon.icon-font-color:before {
    content: "\f184";
}
.bme-icon.icon-font-Italics:before {
    content: "\f185";
}
.bme-icon.icon-font-size:before {
    content: "\f186";
}
.bme-icon.icon-font-strikethrough:before {
    content: "\f187";
}
.bme-icon.icon-font-underline:before {
    content: "\f188";
}
.bme-icon.icon-forward-o:before {
    content: "\f189";
}
.bme-icon.icon-freeze-cell:before {
    content: "\f18a";
}
.bme-icon.icon-freeze-column:before {
    content: "\f18b";
}
.bme-icon.icon-freeze-row:before {
    content: "\f18c";
}
.bme-icon.icon-freeze:before {
    content: "\f18d";
}
.bme-icon.icon-fullscreen:before {
    content: "\f18e";
}
.bme-icon.icon-function:before {
    content: "\f18f";
}
.bme-icon.icon-globe-o-24:before {
    content: "\f190";
}
.bme-icon.icon-group-24:before {
    content: "\f191";
}
.bme-icon.icon-guide-add:before {
    content: "\f192";
}
.bme-icon.icon-guide-delete:before {
    content: "\f193";
}
.bme-icon.icon-help-o-24:before {
    content: "\f194";
}
.bme-icon.icon-help-o:before {
    content: "\f195";
}
.bme-icon.icon-help-s:before {
    content: "\f196";
}
.bme-icon.icon-hexagon:before {
    content: "\f197";
}
.bme-icon.icon-hidden-cloumn:before {
    content: "\f198";
}
.bme-icon.icon-hidden-row:before {
    content: "\f199";
}
.bme-icon.icon-hierarchy:before {
    content: "\f19a";
}
.bme-icon.icon-host:before {
    content: "\f19b";
}
.bme-icon.icon-if:before {
    content: "\f19c";
}
.bme-icon.icon-iframe:before {
    content: "\f19d";
}
.bme-icon.icon-import:before {
    content: "\f19e";
}
.bme-icon.icon-indent:before {
    content: "\f19f";
}
.bme-icon.icon-info-o:before {
    content: "\f1a0";
}
.bme-icon.icon-info:before {
    content: "\f1a1";
}
.bme-icon.icon-initial:before {
    content: "\f1a2";
}
.bme-icon.icon-inner-join:before {
    content: "\f1a3";
}
.bme-icon.icon-insert-column:before {
    content: "\f1a4";
}
.bme-icon.icon-insert-row:before {
    content: "\f1a5";
}
.bme-icon.icon-invisible:before {
    content: "\f1a6";
}
.bme-icon.icon-ipad-24:before {
    content: "\f1a7";
}
.bme-icon.icon-ipad:before {
    content: "\f1a8";
}
.bme-icon.icon-lab-shut-down:before {
    content: "\f1a9";
}
.bme-icon.icon-label-04-01:before {
    content: "\f1aa";
}
.bme-icon.icon-label1:before {
    content: "\f1ab";
}
.bme-icon.icon-label2:before {
    content: "\f1ac";
}
.bme-icon.icon-label3:before {
    content: "\f1ad";
}
.bme-icon.icon-label4:before {
    content: "\f1ae";
}
.bme-icon.icon-lbs-location:before {
    content: "\f1af";
}
.bme-icon.icon-left-join:before {
    content: "\f1b0";
}
.bme-icon.icon-left-justified:before {
    content: "\f1b1";
}
.bme-icon.icon-legend-1:before {
    content: "\f1b2";
}
.bme-icon.icon-lib-24:before {
    content: "\f1b3";
}
.bme-icon.icon-lib:before {
    content: "\f1b4";
}
.bme-icon.icon-lighting:before {
    content: "\f1b5";
}
.bme-icon.icon-like-24:before {
    content: "\f1b6";
}
.bme-icon.icon-like-fill:before {
    content: "\f1b7";
}
.bme-icon.icon-like-l-24:before {
    content: "\f1b8";
}
.bme-icon.icon-like:before {
    content: "\f1b9";
}
.bme-icon.icon-line-chart:before {
    content: "\f1ba";
}
.bme-icon.icon-link:before {
    content: "\f1bb";
}
.bme-icon.icon-list-alt:before {
    content: "\f1bc";
}
.bme-icon.icon-list-ol:before {
    content: "\f1bd";
}
.bme-icon.icon-list:before {
    content: "\f1be";
}
.bme-icon.icon-loading-spinner:before {
    content: "\f1bf";
}
.bme-icon.icon-loading:before {
    content: "\f1c0";
}
.bme-icon.icon-locate-o:before {
    content: "\f1c1";
}
.bme-icon.icon-location-:before {
    content: "\f1c2";
}
.bme-icon.icon-location-delete:before {
    content: "\f1c3";
}
.bme-icon.icon-location:before {
    content: "\f1c4";
}
.bme-icon.icon-lock-row:before {
    content: "\f1c5";
}
.bme-icon.icon-lock:before {
    content: "\f1c6";
}
.bme-icon.icon-logo-bg:before {
    content: "\f1c7";
}
.bme-icon.icon-mail:before {
    content: "\f1c8";
}
.bme-icon.icon-map-bubble-hover:before {
    content: "\f1c9";
}
.bme-icon.icon-map-bubble:before {
    content: "\f1ca";
}
.bme-icon.icon-map-color-hover:before {
    content: "\f1cb";
}
.bme-icon.icon-map-color:before {
    content: "\f1cc";
}
.bme-icon.icon-map-sankey:before {
    content: "\f1cd";
}
.bme-icon.icon-merge-cell:before {
    content: "\f1ce";
}
.bme-icon.icon-minus-cycle-o:before {
    content: "\f1cf";
}
.bme-icon.icon-more:before {
    content: "\f1d0";
}
.bme-icon.icon-movable:before {
    content: "\f1d1";
}
.bme-icon.icon-moveto:before {
    content: "\f1d2";
}
.bme-icon.icon-multi-line-text:before {
    content: "\f1d3";
}
.bme-icon.icon-multidimensional-24:before {
    content: "\f1d4";
}
.bme-icon.icon-new-document-24:before {
    content: "\f1d5";
}
.bme-icon.icon-new-document-dashboard:before {
    content: "\f1d6";
}
.bme-icon.icon-new-document-worksheet:before {
    content: "\f1d7";
}
.bme-icon.icon-new-document:before {
    content: "\f1d8";
}
.bme-icon.icon-node-collapse:before {
    content: "\f1d9";
}
.bme-icon.icon-node-expand:before {
    content: "\f1da";
}
.bme-icon.icon-num:before {
    content: "\f1db";
}
.bme-icon.icon-o-c:before {
    content: "\f1dc";
}
.bme-icon.icon-oil-table-chart:before {
    content: "\f1dd";
}
.bme-icon.icon-ok-c:before {
    content: "\f1de";
}
.bme-icon.icon-ok-l:before {
    content: "\f1df";
}
.bme-icon.icon-ok-o:before {
    content: "\f1e0";
}
.bme-icon.icon-ok-s:before {
    content: "\f1e1";
}
.bme-icon.icon-ok:before {
    content: "\f1e2";
}
.bme-icon.icon-open-l:before {
    content: "\f1e3";
}
.bme-icon.icon-open:before {
    content: "\f1e4";
}
.bme-icon.icon-operation:before {
    content: "\f1e5";
}
.bme-icon.icon-optimization:before {
    content: "\f1e6";
}
.bme-icon.icon-page-1:before {
    content: "\f1e7";
}
.bme-icon.icon-paragraph:before {
    content: "\f1e8";
}
.bme-icon.icon-paste-l:before {
    content: "\f1e9";
}
.bme-icon.icon-pause-o:before {
    content: "\f1ea";
}
.bme-icon.icon-pause:before {
    content: "\f1eb";
}
.bme-icon.icon-pencil-l:before {
    content: "\f1ec";
}
.bme-icon.icon-percent:before {
    content: "\f1ed";
}
.bme-icon.icon-permission:before {
    content: "\f1ee";
}
.bme-icon.icon-phone-24:before {
    content: "\f1ef";
}
.bme-icon.icon-phone:before {
    content: "\f1f0";
}
.bme-icon.icon-picture:before {
    content: "\f1f1";
}
.bme-icon.icon-pie-3d-chart:before {
    content: "\f1f2";
}
.bme-icon.icon-pie-chart:before {
    content: "\f1f3";
}
.bme-icon.icon-pin:before {
    content: "\f1f4";
}
.bme-icon.icon-plus-24:before {
    content: "\f1f5";
}
.bme-icon.icon-plus-dot-o:before {
    content: "\f1f6";
}
.bme-icon.icon-plus-l-thin:before {
    content: "\f1f7";
}
.bme-icon.icon-plus-l:before {
    content: "\f1f8";
}
.bme-icon.icon-plus-o-24:before {
    content: "\f1f9";
}
.bme-icon.icon-plus-o:before {
    content: "\f1fa";
}
.bme-icon.icon-plus:before {
    content: "\f1fb";
}
.bme-icon.icon-pointer:before {
    content: "\f1fc";
}
.bme-icon.icon-polar-chart:before {
    content: "\f1fd";
}
.bme-icon.icon-position-bottom:before {
    content: "\f1fe";
}
.bme-icon.icon-position-left:before {
    content: "\f1ff";
}
.bme-icon.icon-position-right:before {
    content: "\f200";
}
.bme-icon.icon-position-top:before {
    content: "\f201";
}
.bme-icon.icon-preview-24:before {
    content: "\f202";
}
.bme-icon.icon-project-24:before {
    content: "\f203";
}
.bme-icon.icon-publish-fail-24:before {
    content: "\f204";
}
.bme-icon.icon-publish-l-24:before {
    content: "\f205";
}
.bme-icon.icon-publish-run-24:before {
    content: "\f206";
}
.bme-icon.icon-publish-stop-24:before {
    content: "\f207";
}
.bme-icon.icon-publish-success-24:before {
    content: "\f208";
}
.bme-icon.icon-publish-wait-24:before {
    content: "\f209";
}
.bme-icon.icon-publish:before {
    content: "\f20a";
}
.bme-icon.icon-query:before {
    content: "\f20b";
}
.bme-icon.icon-radar-chart:before {
    content: "\f20c";
}
.bme-icon.icon-radius:before {
    content: "\f20d";
}
.bme-icon.icon-real-size-24:before {
    content: "\f20e";
}
.bme-icon.icon-redo-1:before {
    content: "\f20f";
}
.bme-icon.icon-redo:before {
    content: "\f210";
}
.bme-icon.icon-refresh:before {
    content: "\f211";
}
.bme-icon.icon-rename:before {
    content: "\f212";
}
.bme-icon.icon-report-24:before {
    content: "\f213";
}
.bme-icon.icon-report:before {
    content: "\f214";
}
.bme-icon.icon-rerun-24:before {
    content: "\f215";
}
.bme-icon.icon-rerun:before {
    content: "\f216";
}
.bme-icon.icon-right-justified:before {
    content: "\f217";
}
.bme-icon.icon-rmb:before {
    content: "\f218";
}
.bme-icon.icon-rocket:before {
    content: "\f219";
}
.bme-icon.icon-run-from:before {
    content: "\f21a";
}
.bme-icon.icon-run-node:before {
    content: "\f21b";
}
.bme-icon.icon-run-o-24:before {
    content: "\f21c";
}
.bme-icon.icon-run-stop:before {
    content: "\f21d";
}
.bme-icon.icon-run:before {
    content: "\f21e";
}
.bme-icon.icon-s:before {
    content: "\f21f";
}
.bme-icon.icon-save-24:before {
    content: "\f220";
}
.bme-icon.icon-save-as-24:before {
    content: "\f221";
}
.bme-icon.icon-save-as:before {
    content: "\f222";
}
.bme-icon.icon-save:before {
    content: "\f223";
}
.bme-icon.icon-schema:before {
    content: "\f224";
}
.bme-icon.icon-script:before {
    content: "\f225";
}
.bme-icon.icon-search-24:before {
    content: "\f226";
}
.bme-icon.icon-search:before {
    content: "\f227";
}
.bme-icon.icon-selected:before {
    content: "\f228";
}
.bme-icon.icon-separate-cell:before {
    content: "\f229";
}
.bme-icon.icon-separators:before {
    content: "\f22a";
}
.bme-icon.icon-sequence-h-a-z:before {
    content: "\f22b";
}
.bme-icon.icon-sequence-h-z-a:before {
    content: "\f22c";
}
.bme-icon.icon-sequence-h:before {
    content: "\f22d";
}
.bme-icon.icon-sequence-v-a-z:before {
    content: "\f22e";
}
.bme-icon.icon-sequence-v-z-a:before {
    content: "\f22f";
}
.bme-icon.icon-sequence-v:before {
    content: "\f230";
}
.bme-icon.icon-setting-24:before {
    content: "\f231";
}
.bme-icon.icon-setting:before {
    content: "\f232";
}
.bme-icon.icon-shape:before {
    content: "\f233";
}
.bme-icon.icon-share-from:before {
    content: "\f234";
}
.bme-icon.icon-share:before {
    content: "\f235";
}
.bme-icon.icon-sheet-1:before {
    content: "\f236";
}
.bme-icon.icon-sheet-4:before {
    content: "\f237";
}
.bme-icon.icon-slash:before {
    content: "\f238";
}
.bme-icon.icon-slider-play:before {
    content: "\f239";
}
.bme-icon.icon-slider:before {
    content: "\f23a";
}
.bme-icon.icon-sort-a-z:before {
    content: "\f23b";
}
.bme-icon.icon-sort:before {
    content: "\f23c";
}
.bme-icon.icon-sql:before {
    content: "\f23d";
}
.bme-icon.icon-stack:before {
    content: "\f23e";
}
.bme-icon.icon-star-l:before {
    content: "\f23f";
}
.bme-icon.icon-star-remove-l:before {
    content: "\f240";
}
.bme-icon.icon-star:before {
    content: "\f241";
}
.bme-icon.icon-stop-o-24:before {
    content: "\f242";
}
.bme-icon.icon-stop-o:before {
    content: "\f243";
}
.bme-icon.icon-string:before {
    content: "\f244";
}
.bme-icon.icon-stroke-bottom:before {
    content: "\f245";
}
.bme-icon.icon-stroke-left:before {
    content: "\f246";
}
.bme-icon.icon-stroke-right:before {
    content: "\f247";
}
.bme-icon.icon-stroke-top:before {
    content: "\f248";
}
.bme-icon.icon-stroke:before {
    content: "\f249";
}
.bme-icon.icon-subscribe-24:before {
    content: "\f24a";
}
.bme-icon.icon-subtotals:before {
    content: "\f24b";
}
.bme-icon.icon-sum:before {
    content: "\f24c";
}
.bme-icon.icon-suspend-cycle-o:before {
    content: "\f24d";
}
.bme-icon.icon-suspend:before {
    content: "\f24e";
}
.bme-icon.icon-sync-o:before {
    content: "\f24f";
}
.bme-icon.icon-sync:before {
    content: "\f250";
}
.bme-icon.icon-tab:before {
    content: "\f251";
}
.bme-icon.icon-table:before {
    content: "\f252";
}
.bme-icon.icon-target:before {
    content: "\f253";
}
.bme-icon.icon-text:before {
    content: "\f254";
}
.bme-icon.icon-thumnail:before {
    content: "\f255";
}
.bme-icon.icon-time-o:before {
    content: "\f256";
}
.bme-icon.icon-transfer:before {
    content: "\f257";
}
.bme-icon.icon-transform-1:before {
    content: "\f258";
}
.bme-icon.icon-transform-2:before {
    content: "\f259";
}
.bme-icon.icon-triangle-24:before {
    content: "\f25a";
}
.bme-icon.icon-undo-1:before {
    content: "\f25b";
}
.bme-icon.icon-undo:before {
    content: "\f25c";
}
.bme-icon.icon-ungroup-24:before {
    content: "\f25d";
}
.bme-icon.icon-unindent:before {
    content: "\f25e";
}
.bme-icon.icon-unlink:before {
    content: "\f25f";
}
.bme-icon.icon-unstack:before {
    content: "\f260";
}
.bme-icon.icon-unstroke:before {
    content: "\f261";
}
.bme-icon.icon-upload-l-24:before {
    content: "\f262";
}
.bme-icon.icon-upload-l:before {
    content: "\f263";
}
.bme-icon.icon-upload:before {
    content: "\f264";
}
.bme-icon.icon-user-o-24:before {
    content: "\f265";
}
.bme-icon.icon-user-o:before {
    content: "\f266";
}
.bme-icon.icon-user:before {
    content: "\f267";
}
.bme-icon.icon-visible-l:before {
    content: "\f268";
}
.bme-icon.icon-visible:before {
    content: "\f269";
}
.bme-icon.icon-warning-o:before {
    content: "\f26a";
}
.bme-icon.icon-warning:before {
    content: "\f26b";
}
.bme-icon.icon-y-axis:before {
    content: "\f26c";
}
.bme-icon.icon-yy-axis:before {
    content: "\f26d";
}
.bme-icon.icon-zoom-in-24:before {
    content: "\f26e";
}
.bme-icon.icon-zoom-in:before {
    content: "\f26f";
}
.bme-icon.icon-zoom-out-24:before {
    content: "\f270";
}
.bme-icon.icon-zoom-out:before {
    content: "\f271";
}
.bme-icon.icon-zoom-part:before {
    content: "\f272";
}
